@media screen and (max-width: 768px) {
  #wrapper{
    height: 181vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container {
    width: 100%;
    height: 45rem;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    scroll-behavior: smooth;
  }

  :root {
    --bgBlue: #118098;
  }


  .nav-bar {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .right-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #4f4f4f;
    margin-right: 0;
  }

  .right-nav.show {
    display: flex;
  }

  .right-nav a {
    font-size: 16px;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
    margin-right: -310px;
    margin-top: -45px;
  }

  .mobile-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }

  .nav-bar {
    flex-direction: column;
  }

  .right-nav {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: -9rem;
    padding: 0 1rem;
    height: 50rem;
  }

  .hero-section-left {
    left: 0;
    width: 100%;
  }

  .hero-section-heading {
    font-size: 20px;
    font-weight: 400;
    color: #234349;
  }

  .hero-section-subheading {
    font-size: 25px;
    line-height: 25px;
  }

  .hero-section-description {
    width: 50%;
    font-size: 1rem;
    text-align: center;
    margin-left: 170px;
  }

  .hero-section-right {
    height: 100px;
  }

  .boy {
    width: 0%;
  }

  .girl {
    left: 0px;
  }

  .role {
    font-size: 20px;
  }

  .course-section {
    width: auto;
    padding: 20px 20px;
    margin-top: 35px;
  }

  .course-container {
    max-width: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    height: auto;
  }

  .course-card {
    width: 100%;
    margin: 10px 0;
  }

  .content {
    color: #0fafd2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 13px;
    padding: 9px;
  }

  .subcontent {
    color: #0a2024;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: -32px;
    padding: 9px;
  }

  .data-science {
    border-radius: 50%;
    display: flex;
    position: relative;
    top: 12px;
    left: 72px;
    height: 13em;
  }

  .content-img {
    display: flex;
    width: 100%;
    gap: 10px;
  }

  .content-logo {
    width: 50px;
  }

  .content-logo-wd {
    width: 40px;
  }

  .btn-blu a {
    text-decoration: none;
    color: white;
  }

  .btn-blu a:hover {
    color: black;
  }

  .btn-grp {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: -24px;
  }

  .btn-blu {
    background-color: var(--bgBlue);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }

  .btn-blu::before {
    content: "";
    position: absolute;
    background-color: aliceblue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }

  .btn-blu:hover::before {
    transform: scaleX(1);
  }

  .btn-blu:hover {
    border: solid 3px var(--bgOrange);
    color: black;
    border-color: black;
  }

  .about-us-container {
    flex-direction: column;
    padding: 2rem;
    margin: 5rem auto;
    gap: 20px;
    position: relative;
    top: -60px;
  }

  .about-heading {
    font-size: 36px;
    line-height: 40px;
    top: -30px;
  }

  .about-container-left,
  .about-container-right {
    width: 100%;
  }

  .about-container-left .about-subheading p {
    font-size: 16px;
  }

  .about-img {
    border-radius: 50%;
    height: 300px;
  }

  #ins1 {
    width: 0%;
  }

  #ins2 {
    width: 150px;
    height: 150px;
    top: -5px;
    right: -15px;
  }

  #ins3 {
    width: 0%;
  }

  #ins4 {
    width: 0%;
  }
  /* OUR SERVICES */
  .our-services-plates{
    display: flex;
    flex-direction: column;
  }
  .why-abmn {
    display: flex;
    position: relative;
    background-color: rgb(231, 231, 231);
    height: 63rem;
    bottom: -200px;
    flex-direction: column;
  }

  .why-heading {
    color: var(--bgBlue);
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    position: relative;
    top: 10px;
    left: 20px;
  }

  .whole-content-border-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 23px;
    gap: 20px;
  }

  .why-content {
    color: #343d68aa;
    font-weight: 450;
  }

  .why-img {
    width: 50px;
    position: relative;
    left: 25px;
  }

  .why-subheading {
    color: #1eaac9;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 15px;
  }

  .why-content {
    margin-left: 10px;
  }

  .contactus-form-container {
    width: 100%;
    padding: 2rem;
  }

  .contactus-heading {
    font-size: 36px;
    padding-top: 1rem;
  }

  .contactus-subheading {
    font-size: 18px;
  }

  .contact-left-container,
  .contact-right-container {
    width: 100%;
  }

  .contactdetails {
    position: relative;
  }
  
  .contactus-form-container{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }


  #copyright{
    position: relative;
    right: 67px;
    bottom: 38rem;
    color: aliceblue;
    font-weight: 500;
    font-size: 5px;
    }
  
  #email {}

  #contact-email {}

  #number {
    top: 100px;
  }

  #contact-number {
    position: relative;
    top: 100px;
  }

  #address {
    top: 200px;
  }

  #address-ans {
    position: relative;
    top: 200px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .map {
    height: 300px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .link-wrapper div a {
    font-size: 16px;
  }

  footer {
    position: relative;
    margin-top: -1px;
    background-color: var(--bgBlue);
    padding: 5rem;
    width: auto;
    height: 200px;
  }

  .footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-faded-text {
    position: relative;
    left: -50px;
    bottom:60px;
    color: rgb(231, 231, 231);
    user-select: none;
    font-size: 3rem;
  }

  .link-wrapper {
    display: flex;
    gap: 1.2rem;
    position: relative;
    top: -240px;
    flex-direction: column;
    left: 130px;
  }

  .link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: 0.6s;
  }

  .link-wrapper div a:hover {
    color: var(--bgOrange);
    text-decoration: none;
  }

  .icon-wrapper {
    display: flex;
    gap: 1rem;
  }

  /* Team Details */

  .our-team-container {
    width: 100%;
    height: 800px;
    justify-content: center;
    position: relative;
    bottom: -210px;
  }

  .team-heading {
    font-size: 3rem;
    color: var(--bgBlue);
    position: relative;
    font-weight: 500;
    left: 23%;
  }
  .team-image{
    position: relative;
    left: -13px;
    top: -5px;
  }
  .team-content{

  }

  .team-card {
    height: 200px;
    width: 164px;
    border-radius: 20% 20% 20% 20%;
    position: relative;
    top: 39px;
    box-shadow: 1px 1px 15px #1f1f1faa;
  }

  #member1 {
    position: relative;
    left: 74px;
  }

  #member2 {
    position: relative;
    left: 88px;
    top: 40px;
  }

  #member3 {
    position: relative;
    left: -224px;
    top: 274px;
  }

  #member4 {
    position: relative;
    left: 242px;
    top: -37px;
  }

  #member5 {
    position: relative;
    left: -73px;
    top: 12rem;
  
  }

  #member6{
    position: relative;
    top: 193px;
    left: -55px;
  }

  #ayushi{
    position: relative;
    left: -17px;
    font-weight: 500;
    top: 4px;
    font-size: 10px;
  }
  
  #CEO{
    position: relative;
    font-weight: 500;
    left: -30px;
    top: 7px;
    font-size: 10px;
  }
  #bknagar{
    position: relative;
    font-weight: 500;
    left: -19px;
    top: 5px;
    font-size: 10px;
  }
  #cf{
    font-weight: 500;
    position: relative;
    left: -15px;
    top: 5px;
    font-size: 10px;
  }
  #data-science{
    font-weight: 500;
    position: relative;
    left: -36px;
    top: 2px;
    font-size: 10px;
  }
  #vinayak{
    font-weight: 500;
    position: relative;
    left: -11px;
    top: 2px;
    font-size: 10px;
  }
  #yash{
    font-weight: 500;
    position: relative;
    left: -15px;
    top: 2px;
    font-size: 10px;
  }
  #gd{
    font-weight: 500;
    position: relative;
    left: -30px;
    top: 2px;
    font-size: 10px;
  }
  #aman{
    font-weight: 500;
    position: relative;
    left: -21px;
    top: 4px;
    font-size: 10px;
  }
  #ve{
    font-weight: 500;
    position: relative;
    left: -12px;
    top: 3px;
    font-size: 10px;
  }
  
  #aditya{
    font-weight: 500;
    position: relative;
    left: -17px;
    top: 3px;
    font-size: 10px;
  }
  #dev{
    font-weight: 500;
    position: relative;
    left: -6px;
    top: 2px;
    font-size: 10px;
  }
  

  .team-image {
    display: flex;
    justify-content: center;
  }

  .madam {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    position: relative;
    left: 14px;
  }

  .team-content {
    position: relative;
    left: 60px;
    justify-content: center;
/*       text-align: center; */
  }
.name3{
  
}
.position3{
  font-size: 14px;
  left: -50px
}
}
.service-content{
  /* display: flex;
  position: relative; */
  left: 16px;
}

.consultency-content{

}

.details-container ul{
  margin-left: 0rem;
  list-style-type: disc;
  /* color: #ff0000; */
  
  }