@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    scroll-behavior: smooth;
}

:root{
  --bgBlue:#118098;
  --bgPink:#b64081;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


.nav-bar{
    overflow: hidden;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  width: 180px;
}

.left-nav{
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.right-nav{
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
  margin-right: -25rem;
}

.right-nav a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}

.right-nav a:hover{
  transition: all 0.7s;
  font-weight:500;
}

.mobile-menu{
  margin-right: 1rem;
}


/* Hero Section */

.hero-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.hero-section-left{
  display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    position: relative;
    left: -15rem;
    top: 2rem;
    width: 50%;
}

.hero-section-heading{
  font-size: 30px;
  font-weight: 500;
  color: var(--bgPink);
  gap: 2rem;
}

.hero-section-subheading{
  font-size: 45px;
  line-height: 45px;
}

.role{
  color: var(--bgPink);
  font-weight: 600;
  font-size: 35px;
}

.hero-section-description{
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
  font-size: 20px;
}
.hero-section-right{
  position:relative;
  right: 12rem;
  bottom: 8rem;
}
.absolute{
  position: absolute;
}
.user-image{
  padding: 2.5rem;
  transition: all 1s;
}

.user-image img{
  height:20em;
  border-radius: 50%;
  z-index: -9;
}

.girl{
  position: relative;
  right: 6rem;
  bottom: -3rem;
}

.boy{
  position: relative;
  top: -29rem;
  right: -11rem;
}

/* Courses */
.course-section {
  background-color: rgb(231, 231, 231);
  width: 100%;
}

.page-header {
  color: var(--bgBlue);;
  font-size: 50px; 
  text-align: center;
  padding-top: 70px;
}

.course-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 6rem;
  height: 600px;
}

.course-card {
  width: 350px; 
  height: 500px;
  margin: 20px; 
  box-shadow: 0px 0px 20px #1f1f1f;
  border-radius: 10%;
  flex: 0 0 auto;
}

.content {
  color: #0fafd2;
  font-size: 24px; 
  font-weight: 600;
  text-align: center;
  margin: 13px;
  padding: 9px;
}

.subcontent {
  color: #0a2024;
  font-size: 20px; 
  font-weight: 500;
  text-align: center;
  margin: -21px;
  padding: 9px;
}

.data-science {
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 12px;
  left: 72px;

  height: 13em;
}

.content-img{
  display: flex;
  width: 60%;
  gap: 10px;
  flex-wrap: wrap;
}

.content-logo{
  width: 50px;
}

.content-logo-wd{
  width: 40px;
}

.btn-blu a{
  text-decoration: none;
  color: white;
}


.btn-blu a:hover{
  color: black;
}


/* Button */
.btn-grp{
  display: flex;
  position: relative;
  justify-content: center;
  bottom: -24px;
}

.btn-blu {
  background-color: var(--bgBlue);;
  width: fit-content;
  color:white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn-blu::before {
  content: "";
  position: absolute;
  background-color:aliceblue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-blu:hover::before {
  transform: scaleX(1);
}

.btn-blu:hover {
  border: solid 3px var(--bgPink);;
  color: black;
  border-color: black;
}


/* About US */

.about-us-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto 5rem; /* Add margin-bottom to create separation */
  gap: 30px;
  height: 100vh;
}

.about-heading{
  color: var(--bgBlue);;
  font-size: 50px;
  font-style: bold;
  line-height: 50px;
  position: relative;
  top: -125px;
}

.about-container-left{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.about-container-left .about-subheading{
  position: relative;
  left: 0px;
  bottom: 30px;
}

.about-container-left .about-subheading p{
  font-size: 18px;

}

.about-container-right{
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  position: relative;
  gap: 3rem;
  justify-content: center;
}

.about-img{
  border-radius: 50%;
  height: 300px;
}

#ins1, #ins2{
  position: relative;
  bottom: 125px;
}

#ins3, #ins4{
  position: relative;
  bottom: 150px;
}


/* Why Abmn postulates */

.why-abmn{
  display: flex;
  position: relative;
  background-color:rgb(231,231,231); 
  height: 450px;
  bottom: 50px;
}
.why-heading{
  color: var(--bgBlue);;
  font-weight: 600;
  font-size: 4rem;
  width: 100%;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.whole-content-border-box{

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -10px;
  gap: 30px;

}
.why-content{
  color: #343d68aa;
  font-weight: 450;

}
.why-img{

  width: 50px;


}
.why-subheading{
  color: #1eaac9;
  font-size: 20px;
  font-weight: 500;

}
.why-content{

}

/* Team Details */

hr{
  color: #0a2024;
}
.our-team-container{
  width: 100%;
  height: 800px;
  justify-content: center;
}
.team-heading{
  font-size: 4rem;
  color: var(--bgBlue);
  position: relative;
  font-weight: 500;
  left: 40%;
}

.team-card{
  height: 255px;
  width: 200px;
  border-radius: 40% 40% 10% 10%;
  position: relative;
  top: 40px;
  box-shadow: 1px 1px 10px #1f1f1faa;
}

#member1{
  position: relative;
  left: 286px;
}
#member2{
  position: relative;
  left: 700px;
  top: -215px;
}
#member3{
  position: relative;
  left: 70rem;
  top: -473px;
}

#member4{
  position: relative;
  left: 18rem;
  top: -25rem;

}
#member5{
  position: relative;
  left: 44rem;
  top: -41rem;
}
#member6{
  position: relative;
  top: -57rem;
  left: 70rem;
}

.team-image{
  
}
.madam{
  width: 200px;
  height: 200px;
  border-radius: 40%;

}
.team-content{
  position: relative;
  left: 70px;
  
}







/* Contact */

/* Contact */

.contactus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
  position: relative;
  top: 2rem; /* This is where the fixed positioning is applied */
}


.contact-left-container{
  width: 50%;
  position: relative;
  top: 62px;
  left: 0;
}

.contact-right-container {
  width: 50%;
  position: relative; 
  left: 500px; 
  bottom: 75px; 
}




.contactus-heading{
  font-size: 4rem;
  color: var(--bgBlue);
  padding-top: 1em;
}

.contactus-subheading{
  font-size: 2rem;
  color: #343d68aa;
  text-transform: capitalize;
}

.contactus-form-container{
  margin-top:-90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container{
  width: 100%;
}
.formfield{
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 540;
  border: none;
  margin-top: 17px;
}


.formfield-textarea{
  height: auto;
  padding-top: 1rem;
}

#submit-btn{
  border: none;
  font-size: 1,4rem;
  margin:1rem 0  ;
}

#submit-btn:hover{
  scale: 0.9;
  border-color:black;
}

.submit-icon{
  padding: 0 1rem;
  font-size: 1.5rem;

}



.contactdetails{
  position: relative;
}

#email{

}

#contact-email{

}

#number{
  top: 100px;
}

#contact-number{
  position: relative;
  top: 100px;
}

#address{
  top: 200px;
}
#address-ans{
  position: relative;
  top: 200px;

}

a{
  text-decoration: none;
  color: black;
}


.map{
  position: relative;
  top: 0px;
  left: 100px;
  height: 500px;
  width: 100%
}




footer{
  position: relative;
  margin-top: -1px;
  background-color: var(--bgBlue);
  padding: 5rem;

}

.footer-wrapper{
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-faded-text{
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgb(231, 231, 231);
  user-select: none;
  font-size: 5em;
}

.link-wrapper{
  display: flex;
  gap: 1.2rem;
  position: relative;
  bottom: 50px;

}

.link-wrapper div a{
  color:white ;
  text-decoration: none;
  transition: 0.6s;

}

.link-wrapper div a:hover{
  color: var(--bgOrange);
  text-decoration: none;


}

.icon-wrapper{
  display: flex;
  gap: 1rem;

}

